p{
  font-size:20px;

  color: rgb(76, 105, 79);
}

body{
background-color: rgb(245, 243, 224);
font-family: serif;
}

h2{
  color: rgb(10, 63, 17);

}

h1{
  background-color: rgb(202, 193, 162);
  
}